include *.md
include LICENSE
include *.txt
include *.yml
include include/*
include hpp/*
include ReplicatedFocusingBeliefPropagation/*.json
include ReplicatedFocusingBeliefPropagation/lib/*.pxd
include ReplicatedFocusingBeliefPropagation/lib/*.hpp
include ReplicatedFocusingBeliefPropagation/source/*.pyx
